## The Battle of the Neighborhoods - Week 2

### Part 2 Web scrapping of Population and Demographics data of New York city from Wikipedia

POPULATION DATA

Web scrapping from wikipedia page - https://en.wikipedia.org/wiki/New_York_City

#### Import Libraries

In [3]:
import numpy as np 

import pandas as pd 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json 

!conda install -c conda-forge geopy --yes #
from geopy.geocoders import Nominatim 

import requests 
from pandas.io.json import json_normalize 


import matplotlib.cm as cm
import matplotlib.colors as colors

!conda install -c conda-forge folium=0.5.0 --yes
import folium 
from bs4 import BeautifulSoup
import csv 

print('Libraries imported.')

Collecting package metadata: done
Solving environment: done

# All requested packages already installed.

Collecting package metadata: done
Solving environment: done

# All requested packages already installed.

Libraries imported.

#### Web scrapping data using BeautifulSoup.

In [4]:
website_url = requests.get('https://en.wikipedia.org/wiki/Demographics_of_New_York_City').text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find('table',{'class':'wikitable sortable'})

headers = [header.text for header in table.find_all('th')]

table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
    td = row.find_all('td')
    row = [row.text for row in td]
    rows.append(row)

with open('BON2_POPULATION1.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(headers)
    writer.writerows(row for row in rows if row)

#### Load data from CSV

In [5]:
Pop_data=pd.read_csv('BON2_POPULATION1.csv')
Pop_data.drop(Pop_data.columns[[7,8,9,10,11]], axis=1,inplace=True)
print('Data downloaded!')

Data downloaded!

#### Remove whitespaces and rename columns

In [6]:
Pop_data.columns = Pop_data.columns.str.replace(' ', '')
Pop_data.columns = Pop_data.columns.str.replace('\'','')
Pop_data.rename(columns={'Borough':'persons_sq_mi','County':'persons_sq_km'}, inplace=True)
Pop_data

,NewYorkCitysfiveboroughsvte,Jurisdiction,Population,GrossDomesticProduct,Landarea,Density,persons_sq_mi,squarekm,persons/sq.mi,persons/sq.km
0,The Bronx\n,\n Bronx\n,"1,471,160\n",28.787\n,"19,570\n",42.10\n,109.04\n,NaN,NaN,NaN
1,Brooklyn\n,\n Kings\n,"2,648,771\n",63.303\n,"23,900\n",70.82\n,183.42\n,NaN,NaN,NaN
2,Manhattan\n,\n New York\n,"1,664,727\n",629.682\n,"378,250\n",22.83\n,59.13\n,NaN,NaN,NaN
3,Queens\n,\n Queens\n,"2,358,582\n",73.842\n,"31,310\n",108.53\n,281.09\n,NaN,NaN,NaN
4,Staten Island\n,\n Richmond\n,"479,458\n",11.249\n,"23,460\n",58.37\n,151.18\n,NaN,NaN,NaN
5,City of New York,"8,622,698",806.863,"93,574",302.64,783.83,"28,188",NaN,NaN,NaN
6,State of New York,"19,849,399","1,547.116","78,354","47,214","122,284",416.4,NaN,NaN,NaN
7,Sources: [3] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
Pop_data.rename(columns = {'NewYorkCitysfiveboroughsvte\n' : 'Borough',
                   'Jurisdiction\n':'County',
                   'Population\n':'Estimate_2017', 
                   'Landarea\n':'square_miles',
                    'Density\n':'square_km'}, inplace=True)
Pop_data

,Borough,County,Estimate_2017,GrossDomesticProduct,square_miles,square_km,persons_sq_mi,squarekm,persons/sq.mi,persons/sq.km
0,The Bronx\n,\n Bronx\n,"1,471,160\n",28.787\n,"19,570\n",42.10\n,109.04\n,NaN,NaN,NaN
1,Brooklyn\n,\n Kings\n,"2,648,771\n",63.303\n,"23,900\n",70.82\n,183.42\n,NaN,NaN,NaN
2,Manhattan\n,\n New York\n,"1,664,727\n",629.682\n,"378,250\n",22.83\n,59.13\n,NaN,NaN,NaN
3,Queens\n,\n Queens\n,"2,358,582\n",73.842\n,"31,310\n",108.53\n,281.09\n,NaN,NaN,NaN
4,Staten Island\n,\n Richmond\n,"479,458\n",11.249\n,"23,460\n",58.37\n,151.18\n,NaN,NaN,NaN
5,City of New York,"8,622,698",806.863,"93,574",302.64,783.83,"28,188",NaN,NaN,NaN
6,State of New York,"19,849,399","1,547.116","78,354","47,214","122,284",416.4,NaN,NaN,NaN
7,Sources: [3] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Replace '\n'

In [9]:
Pop_data['Borough']=Pop_data['Borough'].replace(to_replace='\n', value='', regex=True)
Pop_data['County']=Pop_data['County'].replace(to_replace='\n', value='', regex=True)
Pop_data['Estimate_2017']=Pop_data['Estimate_2017'].replace(to_replace='\n', value='', regex=True)
Pop_data['square_miles']=Pop_data['square_miles'].replace(to_replace='\n', value='', regex=True)
Pop_data['square_km']=Pop_data['square_km'].replace(to_replace='\n', value='', regex=True)
Pop_data['persons_sq_mi']=Pop_data['persons_sq_mi'].replace(to_replace='\n', value='', regex=True)
Pop_data['persons_sq_km']=Pop_data['persons_sq_mi'].replace(to_replace='\n', value='', regex=True)
Pop_data

,Borough,County,Estimate_2017,GrossDomesticProduct,square_miles,square_km,persons_sq_mi,squarekm,persons/sq.mi,persons/sq.km,persons_sq_km
0,The Bronx,Bronx,"1,471,160",28.787\n,"19,570",42.10,109.04,NaN,NaN,NaN,109.04
1,Brooklyn,Kings,"2,648,771",63.303\n,"23,900",70.82,183.42,NaN,NaN,NaN,183.42
2,Manhattan,New York,"1,664,727",629.682\n,"378,250",22.83,59.13,NaN,NaN,NaN,59.13
3,Queens,Queens,"2,358,582",73.842\n,"31,310",108.53,281.09,NaN,NaN,NaN,281.09
4,Staten Island,Richmond,"479,458",11.249\n,"23,460",58.37,151.18,NaN,NaN,NaN,151.18
5,City of New York,"8,622,698",806.863,"93,574",302.64,783.83,"28,188",NaN,NaN,NaN,"28,188"
6,State of New York,"19,849,399","1,547.116","78,354","47,214","122,284",416.4,NaN,NaN,NaN,416.4
7,Sources: [3] and see individual borough articles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Put data in the last two rows

In [10]:
Pop_data.loc[5:,['persons_sq_mi','persons_sq_km']] = Pop_data.loc[2:,['persons_sq_mi','persons_sq_km']].shift(1,axis=1)
Pop_data.loc[5:,['square_km','persons_sq_mi']] = Pop_data.loc[2:,['square_km','persons_sq_mi']].shift(1,axis=1)
Pop_data.loc[5:,['square_miles','square_km']] = Pop_data.loc[2:,['square_miles','square_km']].shift(1,axis=1)
Pop_data.loc[5:,['Estimate_2017','square_miles']] = Pop_data.loc[2:,['Estimate_2017','square_miles']].shift(1,axis=1)
Pop_data.loc[5:,['County','Estimate_2017']] = Pop_data.loc[2:,['County','Estimate_2017']].shift(1,axis=1)
Pop_data.loc[5:,['Borough','County']] = Pop_data.loc[2:,['Borough','County']].shift(1,axis=1)
Pop_data

,Borough,County,Estimate_2017,GrossDomesticProduct,square_miles,square_km,persons_sq_mi,squarekm,persons/sq.mi,persons/sq.km,persons_sq_km
0,The Bronx,Bronx,"1,471,160",28.787\n,"19,570",42.10,109.04,NaN,NaN,NaN,109.04
1,Brooklyn,Kings,"2,648,771",63.303\n,"23,900",70.82,183.42,NaN,NaN,NaN,183.42
2,Manhattan,New York,"1,664,727",629.682\n,"378,250",22.83,59.13,NaN,NaN,NaN,59.13
3,Queens,Queens,"2,358,582",73.842\n,"31,310",108.53,281.09,NaN,NaN,NaN,281.09
4,Staten Island,Richmond,"479,458",11.249\n,"23,460",58.37,151.18,NaN,NaN,NaN,151.18
5,NaN,City of New York,"8,622,698","93,574",806.863,302.64,783.83,NaN,NaN,NaN,"28,188"
6,NaN,State of New York,"19,849,399","78,354","1,547.116","47,214","122,284",NaN,NaN,NaN,416.4
7,NaN,Sources: [3] and see individual borough articles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Remove NaN

In [11]:
Pop_data = Pop_data.fillna('')
Pop_data

,Borough,County,Estimate_2017,GrossDomesticProduct,square_miles,square_km,persons_sq_mi,squarekm,persons/sq.mi,persons/sq.km,persons_sq_km
0,The Bronx,Bronx,"1,471,160",28.787\n,"19,570",42.10,109.04,,,,109.04
1,Brooklyn,Kings,"2,648,771",63.303\n,"23,900",70.82,183.42,,,,183.42
2,Manhattan,New York,"1,664,727",629.682\n,"378,250",22.83,59.13,,,,59.13
3,Queens,Queens,"2,358,582",73.842\n,"31,310",108.53,281.09,,,,281.09
4,Staten Island,Richmond,"479,458",11.249\n,"23,460",58.37,151.18,,,,151.18
5,,City of New York,"8,622,698","93,574",806.863,302.64,783.83,,,,"28,188"
6,,State of New York,"19,849,399","78,354","1,547.116","47,214","122,284",,,,416.4
7,,Sources: [3] and see individual borough articles,,,,,,,,,

#### Drop last row

In [12]:
i = Pop_data[((Pop_data.County == 'Sources: [2] and see individual borough articles'))].index
Pop_data.drop(i)

,Borough,County,Estimate_2017,GrossDomesticProduct,square_miles,square_km,persons_sq_mi,squarekm,persons/sq.mi,persons/sq.km,persons_sq_km
0,The Bronx,Bronx,"1,471,160",28.787\n,"19,570",42.10,109.04,,,,109.04
1,Brooklyn,Kings,"2,648,771",63.303\n,"23,900",70.82,183.42,,,,183.42
2,Manhattan,New York,"1,664,727",629.682\n,"378,250",22.83,59.13,,,,59.13
3,Queens,Queens,"2,358,582",73.842\n,"31,310",108.53,281.09,,,,281.09
4,Staten Island,Richmond,"479,458",11.249\n,"23,460",58.37,151.18,,,,151.18
5,,City of New York,"8,622,698","93,574",806.863,302.64,783.83,,,,"28,188"
6,,State of New York,"19,849,399","78,354","1,547.116","47,214","122,284",,,,416.4
7,,Sources: [3] and see individual borough articles,,,,,,,,,

#### Save dataframe as csv file

In [62]:
Pop_data.to_csv('BON2_POPULATION.csv',index=False)

### DEMOGRAPHICS DATA

Data - https://en.wikipedia.org/wiki/New_York_City

#### Now web scrapping demographics data from wikipedia page using BeautifulSoup.

In [63]:
website_url = requests.get('https://en.wikipedia.org/wiki/New_York_City').text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find('table',{'class':'wikitable sortable collapsible'})
#print(soup.prettify())

headers = [header.text for header in table.find_all('th')]

table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
    td = row.find_all('td')
    row = [row.text for row in td]
    rows.append(row)

with open('NYC_DEMO.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerow(headers)
    writer.writerows(row for row in rows if row)

#### Load data from CSV

In [64]:
Demo_data=pd.read_csv('NYC_DEMO.csv')
print('Data downloaded!')

Data downloaded!

In [65]:
Demo_data

,Racial composition,2010[245],1990[247],1970[247],1940[247]
0,White,44.0%,52.3%,76.6%,93.6%\n
1,—Non-Hispanic,33.3%,43.2%,62.9%[248],92.0%\n
2,Black or African American,25.5%,28.7%,21.1%,6.1%\n
3,Hispanic or Latino (of any race),28.6%,24.4%,16.2%[248],1.6%\n
4,Asian,12.7%,7.0%,1.2%,−\n

#### Remove whitespaces and rename columns

In [66]:
Demo_data.columns

Index(['Racial composition', '2010[245]', '1990[247]', '1970[247]',
       '1940[247]\n'],
      dtype='object')

In [67]:
Demo_data.rename(columns = {'2010[245]' :'2010',
                   '1990[247]':'1990',
                   '1970[247]':'1970', 
                   '1940[247]\n':'1940',
                    }, inplace=True)
Demo_data

                 Racial composition   2010   1990        1970     1940
0                             White  44.0%  52.3%       76.6%  93.6%\n
1                     —Non-Hispanic  33.3%  43.2%  62.9%[248]  92.0%\n
2         Black or African American  25.5%  28.7%       21.1%   6.1%\n
3  Hispanic or Latino (of any race)  28.6%  24.4%  16.2%[248]   1.6%\n
4                             Asian  12.7%   7.0%        1.2%      −\n

In [68]:
Demo_data.columns

Index(['Racial composition', '2010', '1990', '1970', '1940'], dtype='object')

In [73]:
Demo_data.columns = Demo_data.columns.str.replace(' ', '')
Demo_data

                  Racialcomposition   2010   1990        1970     1940
0                             White  44.0%  52.3%       76.6%  93.6%\n
1                     —Non-Hispanic  33.3%  43.2%  62.9%[248]  92.0%\n
2         Black or African American  25.5%  28.7%       21.1%   6.1%\n
3  Hispanic or Latino (of any race)  28.6%  24.4%  16.2%[248]   1.6%\n
4                             Asian  12.7%   7.0%        1.2%      −\n

#### Replace '\n'

In [74]:
Demo_data= Demo_data.replace('\n',' ', regex=True)
Demo_data

                  Racialcomposition   2010   1990        1970    1940
0                             White  44.0%  52.3%       76.6%  93.6%
1                     —Non-Hispanic  33.3%  43.2%  62.9%[248]  92.0%
2         Black or African American  25.5%  28.7%       21.1%   6.1%
3  Hispanic or Latino (of any race)  28.6%  24.4%  16.2%[248]   1.6%
4                             Asian  12.7%   7.0%        1.2%      −

In [75]:
Demo_data['1970'] = Demo_data['1970'].str.rstrip('[248]')
Demo_data

                  Racialcomposition   2010   1990   1970    1940
0                             White  44.0%  52.3%  76.6%  93.6%
1                     —Non-Hispanic  33.3%  43.2%  62.9%  92.0%
2         Black or African American  25.5%  28.7%  21.1%   6.1%
3  Hispanic or Latino (of any race)  28.6%  24.4%  16.2%   1.6%
4                             Asian  12.7%   7.0%   1.2%      −

#### Save dataframe as csv file

In [76]:
Demo_data.to_csv('BON2_DEMOGRAPHICS.csv',index=False)